{% extends "tourist_attractions/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'tourist_attractions/style.css' %}">
{% endblock %} 

{% block content %} 
<h1>This is a list of some attractions in America!</h1>

<table> 
    <tr>
        <th>State</th>
        <th>Attractions</th>
    </tr>
    {% for item in attractions|dictsort:'homeState.stateName' %}
    {% if item.homeState|lower == statename %}
    <tr> 
        <td>{{ item.homeState }}</td>
        <td>{{ item.attractionName }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}